<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 class="pt-4"> Currículo das alunas Fabrine e Leisaluz - 3ºB informática 😊 </h1>
            <p> Selecione ao lado esquerdo o currículo </p>
        </LayoutView>
    </NotFound>
</Router>
